<img>
<html>
  <head>
  </head>

  <body>
    <img src="image/Houseprice.jpg.jpg">
  </body>
</html>

# **About Dataset**
## Dataset Description:
The dataset contains information about properties. Each property has a unique property ID and is associated with a location ID based on the subcategory of the city. The dataset includes the following attributes:

- **Property ID**: Unique identifier for each property.
- **Location ID**: Unique identifier for each location within a city.
- **Page URL**: The URL of the webpage where the property was published.
- **Property Type**: Categorization of the property into six types: House, FarmHouse, Upper Portion, Lower Portion, Flat, or Room.
- **Price**: The price of the property, which is the dependent feature in this dataset.
- **City**: The city where the property is located. The dataset includes five cities: Lahore, Karachi, Faisalabad, Rawalpindi, and Islamabad.
- **Province**: The state or province where the city is located.
- **Location**: Different types of locations within each city.
- **Latitude and Longitude**: Geographic coordinates of the cities.
## Steps Involved in the Analysis:

**Statistical Analysis:**

- Data Types: Determine the data types of the attributes.
- Level of Measurement: Identify the level of measurement for each attribute.
- Summary Statistics: Calculate mean, standard deviation, minimum, and maximum values for numerical attributes.
Data Cleaning:

- Filling Null Values: Handle missing values in the dataset.
- Duplicate Values: Remove duplicate records, if any.
- Correcting Data Types: Ensure the correct data types for each attribute.
- Outliers Detection: Identify and handle outliers in the data.
- Exploratory Data Analysis (EDA):

Visualization:
- Use libraries such as Seaborn, Matplotlib, and Plotly to visualize the data and gain insights.

Model Building:
- Libraries: Utilize libraries like Sklearn and pickle.
- List of Models: Build models using Linear Regression, Decision Tree, Random Forest, K-Nearest Neighbors (KNN), XG Boost, Gradient Boost, and Ada Boost.
- Model Saving: Save the selected model into a pickle file for future use.
I hope this captures the essence of the provided information. Let me know if you need any further assistance!

---
- About the Author : Sajjad Ali Shah
- Date :
- Dataset (Kaggle)[https://www.kaggle.com/datasets/jillanisofttech/pakistan-house-price-dataset?select=zameen-updated.csv]
---

In [2]:
#import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px

In [4]:
#Load dataset through pandas
df=pd.read_csv("zameen-updated.csv")

In [7]:
#load first 5 dataset 
df.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN,Marla,4.0,0-5 Marla
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN,Marla,5.6,5-10 Marla
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN,Marla,8.0,5-10 Marla
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN,Kanal,2.0,1-5 Kanal
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,Marla,8.0,5-10 Marla

In [8]:
df.describe()

,property_id,location_id,price,latitude,longitude,baths,bedrooms,Area Size
count,5.000000,5.000000,5.000000e+00,5.000000,5.000000,5.000000,5.000000,5.000000
mean,493657.200000,2178.200000,1.678000e+07,33.642507,73.072646,3.600000,3.400000,5.520000
std,248173.416397,1492.557939,1.543752e+07,0.088949,0.153008,1.516575,1.140175,2.598461
min,237062.000000,340.000000,6.900000e+06,33.492591,72.926559,2.000000,2.000000,2.000000
25%,346905.000000,764.000000,7.000000e+06,33.631486,72.971492,3.000000,3.000000,4.000000
50%,386513.000000,3226.000000,1.000000e+07,33.679890,73.012640,3.000000,3.000000,5.600000
75%,656161.000000,3236.000000,1.650000e+07,33.700993,73.151199,4.000000,4.000000,8.000000
max,841645.000000,3325.000000,4.350000e+07,33.707573,73.301339,6.000000,5.000000,8.000000

In [11]:
df.isnull().sum()

property_id      0
location_id      0
page_url         0
property_type    0
price            0
location         0
city             0
province_name    0
latitude         0
longitude        0
baths            0
area             0
purpose          0
bedrooms         0
date_added       0
agency           4
agent            4
Area Type        0
Area Size        0
Area Category    0
dtype: int64